// custom Styles
@import "../public/assets/css/styles.css";
@import "simplebar-react/dist/simplebar.min.css";
@import "../public/assets/css/icons.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "swiper/css/effect-coverflow";
@import "swiper/css/thumbs";
@import "swiper/css/effect-flip";
@import "swiper/css/effect-fade";
@import "swiper/css/effect-cube";
@import "swiper/css/scrollbar";
@import "swiper/css/free-mode";
@import 'react-toastify/dist/ReactToastify.css';
@import 'react-range-slider-input/dist/style.css';
@import 'leaflet/dist/leaflet.css';
@import 'filepond/dist/filepond.min.css'; // filepond
@import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"; // filepond
@import 'yet-another-react-lightbox/plugins/thumbnails.css';
@import 'rodal/lib/rodal.css';
@import "gridjs/dist/theme/mermaid.css";
@import 'suneditor/dist/css/suneditor.min.css';
@import "react-color-palette/css";
@import "yet-another-react-lightbox/plugins/thumbnails.css";
@import "yet-another-react-lightbox/styles.css";
.primary-custom-card1 {
    background-image: url(../public/assets/images/png/chatbg.png);
}

.search-result {
    position: absolute !important;
    width: 100%;
}

.dragula-content {
    touch-action: none !important;
}

.breadcrumb .breadcrumb-item.active {
    color: var(--primary-color) !important;
    font-weight: 400;
}

.breadcrumb .breadcrumb-item a {
    color: var(--text-muted) !important;
}

.btn-teal {

    color: #fff !important;
}

#candlestick-line .apexcharts-series path {
    stroke: #4ec2f0 !important;
}

.Quantity-list .Select2__control {
    width: 100px;
}
.product-carousel .carousel-item .img-fluid {
    max-width: 100%;
    height: 300px;
}